# Configuration de l'application
applicationName=RihenNatural
organizationName=Rihen

# Configuration de la fenêtre
windowTitle=Rihen Natural
windowWidth=1280
windowHeight=720
windowPosX=100
windowPosY=100

# Options
fullscreen=false
resizable=true
vsync=true
targetFPS=120

# Ressources
iconPath=assets/icon.png
fontPath=assets/font.ttf

# Default demo
defaultDemo=particles