# Configuration de l'application
applicationName=Larry
organizationName=Patrick

# Configuration de la fenêtre
windowTitle=Larry
windowWidth=1920
windowHeight=1080
windowPosX=100
windowPosY=100

# Options
fullscreen=false
resizable=true
vsync=true
targetFPS=120

# Ressources
iconPath=assets/icon.png
fontPath=assets/font.ttf

