# Configuration des démonstrations disponibles
[particles]
enabled=true
name=Fire Particles Simulation
description=Simulation réaliste de particules de feu avec paramètres configurables

[randomwalk]
enabled=true
name=Random Walker Demo
description=Marche aléatoire basée sur Nature of Code Chapter 0

[perlinwalk]
enabled=true
name=Random Walker Demo
description=Marche aléatoire basée sur Nature of Code Chapter 0

[ball] 
enabled=true 
name=Bouncing ball Simulation 
description=Simulation d'une balle rebondissante

[car] 
enabled=true 
name=car Simulation 
description=Simulation de car avec vecteur

[ecosystem] 
enabled=true 
name=Ecosystem Simulation 
description=Simulation d'un écosystème avec créatures utilisant différentes 
méthodes de mouvement 

# Ajouter de nouvelles démos ici
# [newdemo]
# enabled=false
# name=New Demo
# description=Une nouvelle démonstration